# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# Lambda Layers (build artifacts)
# =========================
layers/**/python/
layers/**/*.zip

# =========================
# OS / Editor
# =========================
.DS_Store
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# SAM / AWS build output
# =========================
.aws-sam/
.env